[submodule "content/_stories"]
	path = content/_stories
	url = https://github.com/polifonia-project/stories
[submodule "content/_rulebook"]
	path = content/_rulebook
	url = https://github.com/polifonia-project/rulebook
[submodule "external-components"]
	path = content/_external-components
	url = https://github.com/polifonia-project/external-components
[submodule "content/_folk_ngram_analysis"]
	path = content/_folk_ngram_analysis
	url = https://github.com/polifonia-project/folk_ngram_analysis
[submodule "content/_registry_app"]
	path = content/_registry_app
	url = https://github.com/polifonia-project/registry_app
[submodule "content/_meetups-dataset"]
	path = content/_meetups-dataset
	url = https://github.com/polifonia-project/meetups-dataset
[submodule "content/_child-dataset"]
	path = content/_child-dataset
	url = https://github.com/polifonia-project/child-dataset
[submodule "content/_sonar2021_data_transformation"]
	path = content/_sonar2021_data_transformation
	url = https://github.com/polifonia-project/sonar2021_data_transformation
[submodule "content/_ontology-network"]
	path = content/_ontology-network
	url = https://github.com/polifonia-project/ontology-network.git
[submodule "content/_textual-corpus-population"]
	path = content/_textual-corpus-population
	url = https://github.com/polifonia-project/textual-corpus-population
[submodule "content/_sonar2021_demo"]
	path = content/_sonar2021_demo
	url = https://github.com/polifonia-project/sonar2021_demo
[submodule "content/_documentary-evidence-benchmark"]
	path = content/_documentary-evidence-benchmark
	url = https://github.com/polifonia-project/documentary-evidence-benchmark
[submodule "content/_lharp"]
	path = content/_lharp
	url = https://github.com/polifonia-project/lharp
