certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
contextlib2==21.6.0
cryptography==41.0.4
Deprecated==1.2.14
idna==2.10
isodate==0.6.1
pycparser==2.21
PyGithub==1.58.1
pyjnius==1.6.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.1
pysparql_anything==0.9.0.1
python-frontmatter==1.0.0
PyYAML==6.0.1
rdflib==6.3.1
reeco==0.0.2.post1697540418
requests>=2.25.1
schema==0.7.5
six==1.16.0
tqdm==4.65.0
urllib3==1.26.16
wrapt==1.15.0
