$purple-polifonia: #6500aa !default;
$blue-polifonia:   #0000ff !default;
$cyan-polifonia: #00fcff !default;
$green-polifonia: #00fc00 !default;
$yellow-polifonia: #fcfc00 !default;
$red-polifonia: #fc0000 !default;

.tags {
  background-color: $code-background-color;
  padding: 0.2em 0.15em;
  border: $border #6500aa; // purple-polifonia
  border-radius: $border-radius;
}

ul.inline {
}

ul.inline li {
  display: inline;
}

.nav-list-link {
  color: $cyan-polifonia;
}

.nav-list-link:hover{
  background-color: #ff0000;
  color: $black;
}

.meta {
  border: $border #fc0000; 
  border-radius: $border-radius;
  background-color: #fc000022;
  padding: 4px 10px;
  margin-bottom: 10px;
}

.attr {
  border-radius: $border-radius;
  background-color: #aaa;
  padding: 1px 3px;
}

#sticky-navigator {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 5px;
  border: $border #fc0000; 
  border-radius: $border-radius;
  background-color: #0000ff22;
  padding: 4px 10px;
}

.site-footer a {
color: #aaa;
border: none;
}
