$purple-polifonia: #6500aa !default;
$blue-polifonia:   #0000ff !default;
$cyan-polifonia: #00fcff !default;
$green-polifonia: #00fc00 !default;
$yellow-polifonia: #fcfc00 !default;
$red-polifonia: #fc0000 !default;

.tags {
  background-color: $code-background-color;
  padding: 0.2em 0.15em;
  border: $border #6500aa; // purple-polifonia
  border-radius: $border-radius;
}

ul.inline li {
  display: inline;
}

.nav-list-link {
  color: $cyan-polifonia;
}

.nav-list-link:hover{
  background-color: #ff0000;
  color: $black;
}

