---
layout: default
---

<button onclick="toggleMetaData()">Toggle metadata</button>
<div class="annotation-schema" id="schema">
<table>
{% for tup in site.data.schema %}
  {% assign key = tup.first[0] %}
  {% if key == "id" %} {% continue %} {% endif %}
  {% if page[key] %}
 <tr>  
  <th>
	{{ key | replace:'-',' ' | capitalize }}
  </th> 
  <td>  
	{% for item in page[key] %}
	  {% assign k = key | downcase %}
      {% case k %}
        {% when "wp" %}
    <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
        {% when "pilot" %}
    <a href="{{ item | downcase | prepend: "/pages/pilots/" | absolute_url }}.html ">{{item}}</a>
        {% when "work-package" %}
    <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
        {% else %}
          {% assign islink = item | slice: 0,4 %}
          {% if islink == "http" %}
    <span class=""><a href="{{item}}">{{item}}</a></span>
          {% else %}
    <span class="">{{item}}</span>
          {% endif %}
       {% endcase %}
    {% endfor %}
  {% endif %}
 </tr>
{% endfor%}
</table>
	
	
<!-- <ul>
  {% for tup in site.data.schema %}
{% assign key = tup.first[0] %}
{% if key == "id" %} {% continue %} {% endif %}
{% if page[key] %}
<li>{{ key | capitalize }}: {% for item in page[key] %}
  {% case key %}
  {% when "WP" %}
  <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
  {% when "Pilots" %}
  <a href="{{ item | downcase | prepend: "/pages/pilots/" | absolute_url }}.html ">{{item}}</a>
  {% when "work-package" %}
  <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
  {% else %}
  {% assign islink = item | slice: 0,4 %}
  {% if islink == "http" %}
  <span class="attr"><a href="{{item}}">{{item}}</a></span>
  {% else %}
  <span class="attr">{{item}}</span>
  {% endif %}
  {% endcase %}
  {% endfor %}</li>
{% endif %}
{% endfor%}
</ul> -->

<!--  <a href="https://github.com/polifonia-project/stories/blob/main/{{ page.id | remove: "/stories/" | replace: "#", "%23"}}.md">View this file on Github</a> -->

{% assign ghLinkParts = page.id | split: "/" %}
{% assign ghLinkBefore = page.id | split: "/" %}
{% capture ghLinkBefore %}{{ ghLinkParts[1] }}/{{ ghLinkParts[2] }}/{% endcapture %}
{% assign ghLinkAfter = page.id | replace: ghLinkBefore, "" %}
{% capture ghLink %}{{ ghLinkBefore }}blob/master{{ ghLinkAfter }}{% endcapture %}
  <a href="https://github.com/{{ ghLink | replace: "#", "%23"}}.md">View this file on Github</a>

</div>


<div id="contents">
{{ content }}
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-stickyNavigator.js" type="text/javascript"></script>

<script>
$('#sticky-navigator').stickyNavigator({
wrapselector: '#contents',
targetselector: "h2,h3,h4",
});

</script>


