---
layout: default
---

<button onclick="toggleMetaData()">View Metadata</button>
<div class="annotation-schema" id="schema" style="display:none">

<table>

  {% if page['component-id'] %}
      <!-- USE CONTAINER TERMS -->
     {% assign metadata_terms = site.data.component %}
  {% endif %}
  {% if page['container-id'] %}
      <!-- USE COMPONENT TERMS -->
     {% assign metadata_terms = site.data.container %}
  {% endif %}
     
  {% for term in metadata_terms %}
    {% assign k = term.term %}
    {% if page[k] %}
      {% assign item = page[k] %}
  <tr>
      {% if term['terms'] %}
      <th>{{ term['label'] | capitalize }}</th>
      <!-- Sub-terms -->
      <td>
        {% for subitem in item %}
          
          {% for subt in term['terms'] %}
            {% assign subk = subt.term %}
              {% if subitem[subk] %}
        <p><strong>{{ subt['label'] | capitalize }}</strong>:
               {% assign subv = subitem[subk] %}
               {% include reeco-values.html key=subk value=subv %}
             {% endif %}
          {% endfor %}
          
        {% endfor %}
      </td>
      {% else %}
      <!-- No sub-terms -->
      <th>{{term['label'] | capitalize}}</th>
      <td>{% include reeco-values.html key=k value=item %}</td>
      {% endif %}
  </tr>
    {% endif %}
  {% endfor %}
</table>


<!--  <a href="https://github.com/polifonia-project/stories/blob/main/{{ page.id | remove: "/stories/" | replace: "#", "%23"}}.md">View this file on Github</a> -->

{% assign ghLinkParts = page.id | split: "/" %}
{% assign ghLinkBefore = page.id | split: "/" %}
{% capture ghLinkBefore %}{{ ghLinkParts[1] }}/{{ ghLinkParts[2] }}/{% endcapture %}
{% assign ghLinkAfter = page.id | replace: ghLinkBefore, "" %}
{% assign repo_arr = page.url | split: "/" %}
{% assign repo = "" | append: repo_arr[1] | append: '/' | append: repo_arr[2] %}
{% assign repo_data = site.data.repositories | where_exp: "item", "item.repo == repo" | first %}

{% assign raw_link = repo_data.raw_link %}
{% capture ghLink %}{{ repo_data.link }}{{ ghLinkAfter }}{% endcapture %}
  <a href="{{ ghLink | replace: "#", "%23"}}.md">View this file on Github</a>

</div>

<!--
{{page.url}}

{{raw_link}}
-->

<div id="contents">
{{ content }}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-stickyNavigator.js" type="text/javascript"></script>

<script>
$('#sticky-navigator').stickyNavigator({
wrapselector: '#contents',
targetselector: "h2,h3,h4",
});

// Fix anchor links
$('#contents a').each(function(ix,el){
    var raw_link = "{{repo_data.link}}";
    //console.log(ix,$(el).attr('href'))
    var href = $(el).attr('href').trim()
    if ( ! (href.startsWith('#') || href.startsWith('http'))){
        var link = raw_link + href
        //console.log(href, link)
        $(el).attr('href', link)
    }
});
// Fix image src links
$('#contents img').each(function(ix,el){
    var raw_link = "{{raw_link}}";
    console.log(ix,$(el).attr('src'))
    var href = $(el).attr('src').trim()
    if ( ! (href.startsWith('#') || href.startsWith('http'))){
        var link = raw_link + href
        console.log(href, link)
        $(el).attr('src', link)
    }
});
</script>


