---
layout: default
---

<button onclick="toggleMetaData(this)">Metadata</button>
{% if page['doi'] %}
<button onclick="toggleApa(this)">Cite as</button>
<button onclick="toggleBibtex(this)">Bibtex</button>
{% endif %}

<div class="annotation-schema" id="metadata" style="display:none">

<table>

  {% if page['component-id'] %}
      <!-- USE COMPONENT TERMS -->
     {% assign metadata_terms = site.data.component %}
  {% endif %}
  {% if page['container-id'] %}
      <!-- USE CONTAINER TERMS -->
     {% assign metadata_terms = site.data.container %}
  {% endif %}
     
  {% for term in metadata_terms %}
    {% assign k = term.term %}
    {% if page[k] %}
      {% assign item = page[k] %}
  <tr>
      {% if term['terms'] %}
      <th>{{ term['label'] | capitalize }}</th>
      <!-- Sub-terms -->
      <td>
        {% for subitem in item %}
          
          {% for subt in term['terms'] %}
            {% assign subk = subt.term %}
              {% if subitem[subk] %}
        <p><strong>{{ subt['label'] | capitalize }}</strong>:
               {% assign subv = subitem[subk] %}
               {% include reeco-values.html key=subk value=subv %}
             {% endif %}
          {% endfor %}
          
        {% endfor %}
      </td>
      {% else %}
      <!-- No sub-terms -->
      <th>{{term['label'] | capitalize}}</th>
      <td>{% include reeco-values.html key=k value=item %}</td>
      {% endif %}
  </tr>
    {% endif %}
  {% endfor %}
</table>
<!-- RELATED -->
{% assign posts = site.documents %}
{% for post in posts %}
	{% for related in post['related-components'] %}
		{% for k in related %}
			{% for s in k %}
			{% if s contains page['component-id'] %} <!-- === s[0] {{post['component-id]}}  === --> {% endif %}
		{% endfor %}{% endfor %}
	{% endfor %}
{% endfor %}
<!-- END RELATED -->
 {% if site.reeco['validate'] %}
<div class="reeco-validate">
  {% assign validation_key = "content/" | append: page.path %}
  {% if site.data.validation[validation_key] %}
   {% for message in site.data.validation[validation_key] %}
    {% assign message_type = message[0] %}
    {% for message_content in message[1] %}
  <p class="reeco-message"><span class="material-symbols-outlined">
     {{message_type}}
   </span>
     {{message_content['args'][0]}} ({{message_type}})
  </p>
    {% endfor %}
   {% endfor %}
  {% endif %}
 {% endif %}
</div>
<!--  <a href="https://github.com/polifonia-project/stories/blob/main/{{ page.id | remove: "/stories/" | replace: "#", "%23"}}.md">View this file on Github</a> -->

{% assign ghLinkParts = page.id | split: "/" %}
{% assign ghLinkBefore = page.id | split: "/" %}
{% capture ghLinkBefore %}{{ ghLinkParts[1] }}/{{ ghLinkParts[2] }}/{% endcapture %}
{% assign ghLinkAfter = page.id | replace: ghLinkBefore, "" %}
{% assign repo_arr = page.url | split: "/" %}
{% assign repo = "" | append: repo_arr[1] | append: '/' | append: repo_arr[2] %}
{% assign repo_data = site.data.repositories | where_exp: "item", "item.repo == repo" | first %}
{% assign raw_link = repo_data.raw_link %}
{% capture ghLink %}{{ repo_data.link }}{{ ghLinkAfter }}{% endcapture %}
  <a href="{{ ghLink | replace: "#", "%23"}}.md">View this file on Github</a>
    {% assign schema_file_path = page.path | replace: '.md', '.schema.json' %}
    {% assign schema_file_path_fs = "rdf/" | append: schema_file_path  %}
	<a href="{{ page.url | replace: '.html', '.schema.json' | absolute_url}}">Download as Schema.org</a>
    <script type="application/ld+json">
        {% include {{schema_file_path_fs}} %}
    </script>

</div>

{% if page['doi'] %}
{% assign cite = site.data.cite | where_exp: "item", "item.id == page['component-id']" | first %}
{% endif %}

<div class="annotation-schema" id="bibtex" style="display:none">
{% if page['doi'] %}
<cite>{{cite['bibtex']}}</cite>
{% endif %}
</div>

<div class="annotation-schema" id="apa" style="display:none">
{% if page['doi'] %}
<cite>{{cite['apa']}}</cite>
{% endif %}
</div>

<!--
{{page.url}}

{{raw_link}}
-->

<div id="contents">
{{ content }}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/jquery-stickyNavigator.js" | relative_url }}" type="text/javascript"></script>

<script>
$('#sticky-navigator').stickyNavigator({
wrapselector: '#contents',
targetselector: "h2,h3,h4",
});
</script>
<!-- site.baseurl: "{{ site.baseurl }}" -->
<script>
// Fix anchor links
$('#contents a').each(function(ix,el){
    var raw_link = "{{repo_data.link}}";
    //console.log(ix,$(el).attr('href'))
    var href = $(el).attr('href').trim()
    if ( ! (href.startsWith('#') || href.startsWith('http'))){
        var link = raw_link + href
        //console.log(href, link)
        $(el).attr('href', link)
    }
});
// Fix image src links
$('#contents img').each(function(ix,el){
    var raw_link = "{{raw_link}}";
    console.log(ix,$(el).attr('src'))
    var href = $(el).attr('src').trim()
    if ( ! (href.startsWith('#') || href.startsWith('http'))){
        var link = raw_link + href
        //console.log(href, link)
        $(el).attr('src', link)
    }
});
</script>

