---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>{{ page.description }}</h2>

{{ page.content }}

{% assign pilot-posts = site.documents | where: "pilot", page.pilot %}
{% assign psize = pilot-posts | size %}
{% unless psize < 1 %} 
<h3>Components:</h3>
{% assign types = pilot-posts | map: 'type' | join: ','  | split: ',' | uniq %}

  {% for type in types %}
  {% if type != "" %}
{{ type }}
  {% assign components =  pilot-posts | where: 'type',type %}

  <ul>
    {% for component in components %}
    {% if component.type contains "Story" %}
    {% if component.name %}
    <li><a href="{{ component.url | relative_url }}">{{
        component.name }}</a></li>  
    {% else %}
    {% assign fakename = component.id | split: '_' | last %} 
    <li><a href="{{ component.url | relative_url }}">{{
        fakename }}</a></li>  
    {% endif %}
    {% else %}
    <li><a href="{{ component.url | relative_url
    }}">{{ component.name }}</a></li> 
    {% endif %}
    {% endfor %}
  </ul>

  {% endif %}
  {% endfor %}


{% endunless %}


