---
layout: default
---

<div class="meta">
<ul>
  {% for tup in site.data.schema %}
{% assign key = tup.first[0] %}
{% if page[key] %}
  <li>{{ tup.first }}: {{ page[key] }}</li>
{% endif %}
{% endfor%}
</ul>

  <a href="{{ page.repository_url }}/blob/main/{{ page.id | remove: "/stories/" | replace: "#", "%23"}}.md">View on Github</a>

</div>

{{ content }}

<hr/>

<div class="tags"> 
  id: {{ page.id }} <br/>
  persona: {{ page.persona }} <br/>
  keywords: {% for kw in page.keywords %}
  {{ kw }}
  {% endfor %} <br/>
  WP:{% for wp in page.WP %}
  {{ wp }}
  {% endfor %}

{% include schema.html %} 
</div>
