---
layout: default
---

<div class="meta-large">
<ul>
  {% for tup in site.data.schema %}
{% assign key = tup.first[0] %}
{% if key == "id" %} {% continue %} {% endif %}
{% if page[key] %}
<li>{{ key | capitalize }}: {% for item in page[key] %} 
  {% case key %}
  {% when "WP" %}
  <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
  {% when "Pilots" %}
  <a href="{{ item | downcase | prepend: "/pages/pilots/" | absolute_url }}.html ">{{item}}</a>
  {% when "work-package" %}
  <a href="{{ item | downcase | prepend: "/pages/work-packages/" | absolute_url }}.html ">{{item}}</a>
  {% else %}
  <span class="attr">{{item}}</span>
  {% endcase %}
  {% endfor %}</li>
{% endif %}
{% endfor%}
</ul>

  <a href="https://github.com/polifonia-project/stories/blob/main/{{ page.id | remove: "/stories/" | replace: "#", "%23"}}.md">View this file on Github</a>

</div>

<div id="sticky-navigator">
  <h4>Table of contents</h4>
</div>


<div id="contents">
{{ content }}
</div>

<!--<hr/>-->

<!--<div class="tags"> -->
  <!--id: {{ page.id }} <br/>-->
  <!--persona: {{ page.persona }} <br/>-->
  <!--keywords: {% for kw in page.keywords %}-->
  <!--{{ kw }}-->
  <!--{% endfor %} <br/>-->
  <!--WP:{% for wp in page.WP %}-->
  <!--{{ wp }}-->
  <!--{% endfor %}-->

<!--{% include schema.html %} -->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/jquery-stickyNavigator.js' | relative_url }}" type="text/javascript"></script>

<script>
$('#sticky-navigator').stickyNavigator({
wrapselector: '#contents',
targetselector: "h2,h3,h4",
});

</script>
