---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>{{ page.description }}</h2>

<p>{{ page.content }}</p>

<h2>Related ecosystem components:</h2>

{% assign wp1-posts = site.documents | where: "WP", page.wp %}
{% assign wp2-posts = site.documents | where: "work-packages", page.work-package %}
{% assign wp-posts = wp1-posts | concat: wp2-posts %}
<ul>
{% for p in wp-posts %}
{% assign category = p.path | remove_first: "_" | split: "/" | first %}
<li> {% if p.name %}<a href="{{ p.url | relative_url }}">{{ p.name }} ({{ category}})</a>{% else %}<a href="{{ p.url | relative_url }}">{{ p.persona }} ({{ category }})</a> {% endif %} </li>
{% endfor %}
</ul>

