---
layout: default
---
<h1>{{ page.long-title }}</h1>

<!-- <h2>{{ page.description }}</h2> -->

<p>{{ page.content }}</p>

{% assign wp-posts = site.documents | where: "work-package", page.work-package %}
{% assign wpsize = wp-posts | size %}
{% unless wpsize < 1 %} 
<h2>Related components:</h2>
{% assign types = wp-posts | map: 'type' | join: ','  | split: ',' | uniq %}
<ul>
{% for type in types %}
{% if type != "" %}
<li> {{ type }}</li>
	{% assign components =  wp-posts | where: 'type',type %}
  <ul>
	{% for component in components %}
  {% if component.type contains "Story" %}
    {% if component.name %}
    <li><a href="{{ component.url | relative_url }}">{{ component.name }}</a></li>	
    {% else %}
{% assign fakename = component.id | split: '_' | last %} 
<li><a href="{{ component.url | relative_url }}">{{ fakename }}</a></li>	
    {% endif %}
  {% else %}
  <li><a href="{{ component.url | relative_url }}">{{ component.name }}</a></li>	
  {% endif %}
	{% endfor %}
  </ul>
{% endif %}
{% endfor %}
</ul>

{% endunless %}

