---
layout: default
---
<h1>{{ page.long-title }}</h1>

<!-- <h2>{{ page.description }}</h2> -->

<p>{{ page.content }}</p>

<h2>Related ecosystem components:</h2>

{% assign wp-posts = site.documents | where: "work-package", page.work-package %}
<ul>
{% for p in wp-posts %}
{% assign category = p.path | remove_first: "_" | split: "/" | first %}
<li> 
  {% if p.name %}
<a href="{{ p.url | relative_url }}">{{ p.name }} ({{ category}})</a>
  {% else %}
  {% assign headers = p.content | split: '<h' %}
	{% assign _string = headers[1] | split: '</h' %}
	{% capture _hAttrToStrip %}{{ _string[0] | split: '>' | first }}>{% endcapture %}
	{% assign title = _string[0] | replace: _hAttrToStrip, '' %}
<a href="{{ p.url | relative_url }}">"{{ title }}" (persona: {{ p.persona }}, in {{ category}})</a>
  {% endif %} 
</li>
{% endfor %}
</ul>

